/.idea
/.husky
/coverage
/.github
/lib
/example
.eslintrc.yml
.gitignore
.npmignore
.prettierrc
.release-it.json
global.vitest.ts
pnpm-lock.yaml
tsconfig.json
tsconfig.build.json
vitest.config.ts
sonar-project.properties
